* {
	box-sizing: border-box;
	text-decoration: none !important;
	outline: none !important;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.5em !important;
	color: #424242;
}

a {
	transition: .25s;
}

.btn {
	font-size: 16px !important;
}

header span {
	margin: 0;
	font-size: 1.75em;
	line-height: 100px;
}

header .search-box {
	display: none;
}

.scroll-indicator {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 5px;
	background: #ccc;
}

.scroll-indicator #bar {
	height: 5px;
	background: url("../img/texture.png") fixed,
		linear-gradient(to bottom right, #419544, #1c80cf) fixed;
	width: 0;
}

.carousel {
	margin-bottom: 50px;
	padding: 30px 0;
	background: url("../img/texture.png") fixed, #333;
	background-size: cover;
}

.carousel .primary .youtube-wrapper {
	margin-bottom: 30px;
}

.carousel .secondary .youtube-wrapper {
	overflow: hidden
}

.carousel .secondary .youtube-wrapper:not(:first-child) {
	margin-top: 15px;
}

.carousel .primary .youtube-image-wrapper {
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	overflow: hidden;
}

.carousel .secondary .youtube-image-wrapper {
	position: relative;
	float: left;
	clear: left;
	width: 50%;
	padding-top: 28.125%;
	overflow: hidden;
}

.carousel .primary .youtube-wrapper img,
.carousel .secondary .youtube-wrapper img {
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.carousel .primary h1 {
	position: absolute;
	z-index: 1000;
	width: calc(100% - 90px);
	margin: -30px 30px 0;
	padding: 18px;
	background: #fff;
	font-size: 1.25em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 5px;
}

.carousel .secondary h2 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	float: left;
	width: 45%;
	margin: 0 0 0 5%;
	font-size: 1em;
	line-height: 1.25em;
	color: #fff;
}

aside .search-box {
	margin-bottom: 15px;
}

aside .discord {
	margin-bottom: 50px;
	padding: 30px;
	background: #7289da;
	color: #fff;
	text-align: center;
}

aside .discord img {
	width: 25%;
	max-width: 120px;
}

aside .discord h3 {
	font-size: 1.35em;
	line-height: 1.5em;
	color: rgba(255, 255, 255, .85);
}

aside .discord a {
	display: inline-block;
	margin: 15px 0;
	padding: 10px 30px;
	color: rgba(255, 255, 255, .65);
	border: solid 1px rgba(255, 255, 255, .65);
	border-radius: 5px;
}

aside .discord a:hover {
	color: rgba(255, 255, 255, .85);
	border: solid 1px rgba(255, 255, 255, .85);
}

.medium-feed .section-title {
	padding-bottom: 5px;
	font-size: 1.2em;
	border-bottom: solid 1px #ddd;
}

.medium-feed .medium-widget-article__row {
	margin-top: 30px;
}

.medium-feed .medium-widget-article__title {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin: 0 0 2px;
	font-weight: bold;
	font-size: 1.25em;
	line-height: 1.25em;
}

.medium-feed .medium-widget-article__grid {
	display: flex;
	width: 100%;
}

.medium-feed .medium-widget-article__image img {
	width: 100px;
	margin-right: 15px;
	border: solid 1px #ddd;
}

.medium-feed .medium-widget-article__description {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	height: 3em;
}

.medium-feed .medium-widget-article__date {
	margin-top: 8px;
	color: #888;
	font-size: 12px;
	line-height: 1em;
}

.medium-feed .medium-widget-article__date:before {
	content: "\f133";
	margin-right: 5px;
	font-family: "Font Awesome 5 Free";
	font-weight: bold;
}

.medium-feed .medium-widget-article__error {
	color: #fd7272;
	font-weight: bold;
	text-align: center;
}

.medium-feed .medium-widget-article__empty {
	color: #03a87c;
	font-weight: bold;
	text-align: center;
}

.medium-feed .medium-site {
	padding: 30px 0;
	text-align: center;
}

.research-showcase {
	margin-bottom: 35px;
}

.research-showcase .section-title {
	margin-bottom: 30px;
	padding-bottom: 5px;
	font-size: 1.2em;
	border-bottom: solid 1px #ddd;
}

.research-showcase a {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
	padding: 15px 30px;
	text-align: center;
	border: solid 1px #ddd;
	border-radius: 5px;
}

.research-showcase a.gscholar:hover {
	background: #4285f4;
}

.research-showcase a.figshare:hover {
	background: #c63753;
}

.research-showcase a.orcid:hover {
	background: #9dc928;
}

.research-showcase a.researchgate:hover {
	background: #00ccbb;
}

.research-showcase a.mendeley:hover {
	background: #e7212f;
}

.research-showcase a:hover img {
	filter: brightness(0) invert(1);
}

.research-showcase img {
	max-width: 75%;
	max-height: 50px;
	transition: .15s all;
}

footer {
	clear: both;
	margin: 50px 0 0;
	padding: 30px 0;
	text-align: center;
	color: #888;
	border-top: solid 1px #ddd;
}

footer .copyright,
footer .license {
	text-align: center;
}

footer a {
	color: #888;
	font-weight: bold;
}

footer a:hover,
footer a:focus {
	color: #666;
}

input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
	box-sizing: content-box;
	line-height: normal;
}

.gsc-control-cse {
	padding: 0 !important;
}

/* tablet screen view */

@media (min-width: 768px) {
	header .search-box {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 100px;
	}

	header .search-box>div {
		width: 100%;
	}

	.research-showcase a {
		line-height: 2em;
	}

	footer .copyright {
		text-align: left;
	}

	footer .license {
		text-align: right;
	}
}

/* desktop screen view */

@media (min-width: 992px) {
	.research-showcase a {
		line-height: 2.5em;
	}

	.medium-feed {
		padding-right: 50px;
	}
}

/* large desktop screen view */

@media (min-width: 1200px) {
	.research-showcase a {
		line-height: 3em;
	}
}