---
const { pageTitle } = Astro.props;
---

<section
    class="flex flex-col justify-center items-center mb-6 px-12 pt-24 bg-[linear-gradient(to_bottom_left,rgba(33,150,243,0.75),rgba(76,175,80,0.75))] bg-fixed text-white h-[250px]"
>
    <h1 class="text-3xl sm:text-4xl text-center">
        {pageTitle}
    </h1>
</section>
