<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="Risetnya Mfc">
  <meta property="og:site_name" content="Mfc Website">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Koleksi publikasi Risetnya Mfc">
  <meta property="og:image" content="https://mf-chan.com/og.jpg">

  <link rel="icon" type="image/x-icon" href="{{ site.url }}/res/img/favicon.png">
  <title>{{ page.title }} | {{ site.name }}</title>

  {% include style.html %}
  {% include analytics.html %}
</head>

<body>
  {{ content }}
  {% include script.html %}
</body>

</html>