<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="res/img/favicon.png">
  <title>{{ page.title }} | Mfc Website</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="res/css/style.css" />

  {% include analytics.html %}
</head>

<body>
  <section class="container">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date_to_string }}</p>
    {{ content }}
  </section>

  <script src="res/js/medium.js"></script>
  <script src="res/js/script.js"></script>
</body>
</html>
