<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ site.url }}/res/img/favicon.png">
  <title>{{ page.title }} | Mfc Website</title>

  {% include style.html %}
  {% include analytics.html %}
</head>

<body>
  <section class="container">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date_to_string }}</p>
    {{ content }}
  </section>

  {% include script.html %}
</body>
</html>
