---
layout: default
---
<section class="container">
  <section class="col-md-8">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date_to_string }}</p>
    {{ content }}
  </section>
    <aside class="col-md-4">
      <div class="discord">
        <img src="{{ site.url }}/res/img/discord.png" alt="Discord">
        <h3>Ingin belajar riset? Yuk gabung di Discord Server kami!</h3>
        <a href="https://link.mf-chan.com/belajar-riset" target="_blank">
          Akses Sekarang, Gratis!
        </a>
      </div>
    </aside>
</section>
